body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
 text-decoration: none;
 padding: 0;
 color:rgba(25, 25, 25, 1);
 font-size:14px;
 letter-spacing: 0.90px;
 font-weight: 600;
}
